/*------------ Style for About section ------------*/

.about-section {
  padding: 60px 24px;
  color: #333;
  margin: 0 auto;
}

.about-section p {
  font-size: 14px;
  line-height: 1.8;
  text-align: justify;
  margin-bottom: 1rem;
}

.about-section strong {
  color: #222;
  font-weight: 600;
}

/*------------ Media Queries ------------*/
/* Medium screen */
@media (min-width: 768px) {
  .about-section {
    padding: 0 64px;
  }

  .about-section p {
    font-size: 16px;
  }
}

/* Large screen */
@media (min-width: 992px) {
  .about-section {
    padding: 60px 92px;
  }

  .about-main-text {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 20px;
  }

  .about-main-text p {
    flex: 1;
  }
}