/*------------ Style for Contact section ------------*/
:root {
  --color-primary: limegreen;
}
.contact-section {
  padding: 80px 20px;
  background: #2c3e50;
  color: #fff;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0 auto;
}

.contact-form {
  flex: 1;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
  width: 90%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.9);
}

.form-group textarea {
  resize: vertical;
}

.btn-submit {
  background: none;
  color: white;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  padding: 12px 30px;
  cursor: pointer;
}

.btn-submit:active {
  background: var(--color-primary);
}

.contact-info {
  flex: 1;
}

.contact-info h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.quick-reponse-list {
  margin: 30px 0;
}

.quick-reponse-list h4 {
  margin: 10px 0;
}

.quick-reponse {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.quick-reponse i {
  font-size: 16px;
  color: black;
}

.quick-reponse a {
  color: #aaa;
  text-decoration: none;
  transition: color 0.3s;
}

.quick-reponse a:hover {
  color: #2980b9;
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.social-icon {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s;
}

.social-icon:hover {
  background: var(--color-primary);
  transform: translateY(-3px);
}

/*------------ Media Queries ------------*/

/* Medium screen */
@media (min-width: 768px) {
  .contact-section {
    padding: 60px 62px;
  }

  .form-group input,
  .form-group textarea {
    width: 80%;
    padding: 16px;
  }

  .contact-form {
    font-size: 18px;
  }

  .btn-submit {
    font-size: 18px;
    padding: 16px 30px;
  }

  .btn-submit:hover {
    background: var(--color-primary);
  }

  .btn-submit:hover {
    opacity: 0.9;
  }
}

/* Large screen */
@media (min-width: 992px) {
  .contact-section {
    padding: 60px 92px;
  }
  .contact-wrapper {
    flex-direction: row;
  }
}

/* Extra-large screen */
@media (min-width: 1200px) {
  .contact-section {
    padding: 60px 140px;
  }
}