/*------------ Style for Interests section ------------*/

:root {
  --color-primary: limegreen;
}

.interests-section {
  padding: 80px 24px;
  background: #ffffff;
}

.interests-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  margin: 0 auto;
}

.interest-card {
  background: #f1f4f8;
  border-radius: 10px;
  padding: 25px;
  border: 1px solid #eee;
  transition: transform 0.3s, box-shadow 0.3s;
}

.interest-icon {
  font-size: 35px;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
}

/* Full-Stack */
.interests-list div:nth-child(1) i {
  color: rgb(253, 118, 103);
  background-color: rgba(253, 118, 103, 0.2);
  ;
}

/* AI & Automation */
.interests-list div:nth-child(2) i {
  color: rgb(253, 103, 233);
  background-color: rgba(253, 103, 233, 0.2);
  ;
}

/* Open Source */
.interests-list div:nth-child(3) i {
  color: rgb(180, 103, 253);
  background-color: rgba(180, 103, 253, 0.2);
  ;
}

/* Cybersecurity */
.interests-list div:nth-child(4) i {
  color: rgb(192, 0, 0);
  background-color: rgba(192, 0, 0, 0.2);
  ;
}

/* Mobile-dev */
.interests-list div:nth-child(5) i {
  color: rgb(253, 145, 103);
  background-color: rgba(253, 145, 103, 0.2);
  ;
}

/* Tech Trends */
.interests-list div:nth-child(6) i {
  color: rgb(253, 103, 215);
  background-color: rgba(253, 103, 215, 0.2);
  ;
}

/* Continuous Learning */
.interests-list div:nth-child(7) i {
  color: rgb(118, 103, 253);
  background-color: rgba(118, 103, 253, 0.2);
  ;
}

.interest-card h3 {
  color: #2c3e50;
  margin-bottom: 10px;
}

.interest-card p {
  color: #7f8c8d;
  line-height: 1.5;
  font-size: 14px;
}

/*------------ Media Queries ------------*/

/* Large screen */
@media (min-width: 992px) {
  .interests-section {
    padding: 60px 92px;
  }

  .interests-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .interest-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px var(--color-primary)
  }
}

/* Extra-large */
@media (min-width: 1200px) {
  .interests-section {
    padding: 60px 140px;
  }
}